[S3E]
MemSize=5485760			# 5 Mb
MemSizeDebugDevice=5485760	# 5  Mb
MemSizeDebug=5971520		# 5 Mb
MemMgrMaxAllocWarning=0
DispFixRot="FixedPortrait"

[GX]
DataCacheSize=1000000
PolyBufferSize=200000
VertCacheSize=20000
DisplayFramerate=0
NumTPages=128
UseRgbLighting=1
