[S3E]
MemSize=10000000			# 10 Mb
MemSizeDebugDevice=10000000	# 10  Mb
MemSizeDebug=10000000		# 10 Mb
MemMgrMaxAllocWarning=0
DispFixRot="FixedPortrait"

[GX]
DataCacheSize=1000000
PolyBufferSize=200000
VertCacheSize=20000
DisplayFramerate=0
NumTPages=128
UseRgbLighting=1
